/*######################################
                GENERAL
######################################*/
@font-face {
    font-family: lora;
    src: url("../fonts/Lora/Lora-VariableFont_wght.ttf");
}

@font-face {
    font-family: work;
    src: url("../fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color-dark: #2e2e2e;
    --background-color-light: #fff;
    --background-color-footer: #1d2c2f;
    --font-color-light: #fff;
    --font-color-dark: #1d2c2f;
}

General {
    font-family:
        Lora Work sans;
    color:
        #2e2e2e #fff #000 #1d2c2f;
}

h1,
h2,
h3 {
    font-family: lora;
}

p,
figcaption {
    font-family: work;
}

a {
    text-decoration: none;

}

/*######################################
                HEADER
######################################*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

header div:nth-of-type(1) {
    width: 40%;
}

header h1 {
    font-size: 4.3em;
    font-weight: 500;
}

header h2 {
    font-size: 1em;
    font-weight: 500;
}

header img {
    width: 60%;
}

div.header__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-dark);
}

div.header__nav img {
    width: 10%;
    padding: 10px
}

div.header__nav a {
    color: var(--font-color-light);
    font-weight: 500;
    text-decoration: none;
}

header nav {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

/*######################################
                MAIN
######################################*/
main section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--font-color-light);
    background-color: var(--background-color-dark);
    padding: 10vh 0;
}

main section img {
    width: 50%
}

main section article h2 {
    font-size: 2em;
    font-weight: 600;
}

main section article p {
    text-align: left;
    padding: 10px 20px;
    font-weight: 300;
}

main section.section--light {
    background-color: var(--background-color-light);
    color: var(--font-color-dark);
    display: flex;
    flex-direction: column;
    padding-bottom: 15vh;
}

main section.section--light article {
    width: 60%;
}

main section div.section__gallery {
    width: 95%;
    display: flex;
    padding: 7vh 0;
}

main section div.section__gallery img {
    width: 85%;
}

main section div.section__gallery figcaption {
    width: 80%;
    margin: 0 auto;
    font-size: 0.6em;
    color: var(--font-color-dark);
}

main section.section--light iframe {
    width: 33%;
    aspect-ratio: 16/9;
}

/*######################################
                FOOTER
######################################*/
footer section.getInTouch {
    background-color: var(--background-color-dark);
    color: var(--font-color-light);
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15vh 0
}

footer section.getInTouch article {
    width: 40%;
    padding: 0 5% 0 0
}

footer section.getInTouch article p {
    padding: 0.6em 0;
}

footer section.getInTouch section.form form div {
    padding: 0.6em 0;
}

footer section.getInTouch section.form form input,
footer section.getInTouch section.form form textarea {
    width: 100%;
}

footer section.footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    background-color: var(--background-color-footer);
    color: var(--font-color-light);
}

footer section.footer a,
footer section.footer p {
    font-family: lora;
    color: var(--background-color-light);
}